
<%= image_tag('cetcoheader.jpg') %>

<div class="row">		

    <div class="span10 offset1">
	    <br>
		<h4>Welcome to our Technical Resource Center</h4>

			<p><%= image_tag('cetcoheader.jpg', :size => '150x100', :style => 'float:right;margin: 4px;') %>
			<p>Opening comments and remarks about this site...</p>
	</p>
	<hr>
	
    </div><!--/span-->
 </div><!--/row-->

<div class='row'>
	<div class='span5 offset1'>
		<div class='introbox'>
	    	<h4><%= link_to 'Technical Reference Library', posts_path(:type_is => 'Documents') %></h4><br>
	    	<p>Information on how best to utilize our products to their fullest potential.</p><br>
			<p><%= link_to 'Visit the Library &raquo;'.html_safe, posts_path(:type_is => 'Documents') , :class => "btn btn-small btn-success" %></p>
		</div>		    
	</div>
	
	<div class='span5'>
		<div class='introbox'>
			<h4><%= link_to 'Structural Waterproofing Glossary', posts_path(:type_is => 'Glossary') %></h4><br>
	    	<p>Learn about industry specific terms.</p><br>
			<p><%= link_to 'Lookup words in Glossary &raquo;'.html_safe, posts_path(:type_is => 'Dicussion') , :class => "btn btn-small" %></p>

			
		</div>		    
	</div>
</div>







