<div class="row">
  <div class="span10 offset1">

<%= simple_form_for(@post, :html => { :class => 'form-vertical span9' } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<div class='form-box'>
		<div class='row'>
			<div class='span4'>
				<label for="stackedSelect">Glossary Word</label>
    			<%= f.text_field :title  , :class => "span4" %>
			</div>

<%= f.hidden_field :type_is, :value => @type_is %>

		</div>		
		<label for="stackedSelect">Description</label>
	    <%= f.text_area :body , :class => "input textarea span8", :rows => 5  %>
		<%= f.hidden_field :user_id , :value => current_user.id %>
	</div>

	
  </div>

  <div class="form-actions">
    <%= f.button :submit , 'Save' %> | 
	<%= link_to 'Cancel', @post %>
  </div>
<% end %>

	</div>
</div>