
<div class="row">
  <div class="span10 offset1">
	  <div class='blank_box'>
		
		<div class='lead'><%= link_to @post.title, @post %></div>
		<p style='font-size:16px;line-height:120%;'><%= @post.body.html_safe %></p><br>

<br>
	
	
	
	</div>	
	

	<div class='row pull-right'>
		<% if current_user.id == @post.user_id %>
			<%= link_to 'Edit', edit_post_path(@post, :type_is => @type_is), :class => 'btn btn-mini' %>
			<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-warning' %>
		<% end %>
		
	Created by: <b><%= User.find(@post.user_id).name %></b> on <%= @post.created_at.strftime('%b %d, %Y') %>
	</div><br>
	    
	<div id='comment'></div>

	<%= render 'comments'%>
	
  </div><!--/span-->


</div><!--/row-->

<br>


