<div class="row">
  <div class="span10 offset1">

<%= simple_form_for(@post, :html => { :class => 'form-vertical span9' } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<div class='form-box'>
		<div class='row'>
			<div class='span4'>
				<label for="stackedSelect">Title</label>
    			<%= f.text_field :title  , :class => "span4" %>
			</div>

<%= f.hidden_field :type_is, :value => @type_is %>

		</div>		
		<label for="stackedSelect">Category</label>
		<%= f.select :category , categories  %>
		<label for="stackedSelect">Product</label>
		<%= f.select :product , products  %>
		<label for="stackedSelect">Description of Document</label>
	    <%= f.text_area :body , :class => "input textarea span6", :rows => 4  %>
		<%= f.hidden_field :user_id , :value => current_user.id %>
	</div>

		<% i = 0 %>
		<%= f.fields_for :attachments do |attach| %>
		<div class='form-box'>
		<div class='row'>
			<div class='span4'>
				
				<% if !attach.object.new_record? %>
			<label for="stackedSelect">Current File: <b><%= attach.object.image_file_name %></b></label>
				<label class="checkbox inline">
			<!--- attach.check_box :_destroy, {:checked => attach.object.persisted?}, '0', '1' %>Save Attachment? ---->
					<%= attach.check_box :_destroy %><b>Delete File </b>					
				</label>
				<% else %>
				<label for="stackedSelect"><b>Attachment</b></label>
				<% end %>				
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='span4'>
					<%= attach.file_field :image %>
			</div>
		</div>
		</div>
	<% end %>
	
  </div>

  <div class="form-actions">
    <%= f.button :submit , 'Save' %> | 
	<%= link_to 'Cancel', @post %>
  </div>
<% end %>

	</div>
</div>