<% if @posts.length > 0 %>

<table class='table table-condensed table-bordered table-striped'>
		<thead>
			<tr>
			<th>Document</th>
			<th>Description</th>
			<th>Category</th>
			<th>Product</th>
			<% if current_user.roles.first.name == 'admin' %>		
				<th>Action</th>
			<% end %>
		<tr>
		</thead>
		<% @posts.each do |post| %>
			<% post.body.length > 300 ? body = post.body[0..300].html_safe : body = post.body.html_safe %>
				<tr>
					<td class='span2'>		
							<% if post.attachments.count > 0 %>
								<% post.attachments.each_with_index do |attach| %>
									<% if !attach.image.url.include?('missing.png') %>
										<p><b><%= link_to image_tag('icon-pdf.png') + post.title, attach.image.url, :target => '_blank' %></b>										
									<% end %>						
								<% end %> 
							<% end %>						
					</td>
					<td><%= body %></td>
					<td><b><%= post.category %></b></td>
					<td><b><%= post.product %></b></td>
					
					<% if current_user.roles.first.name == 'admin' %>		
						<td><b><%= link_to 'Edit', post_path(post, :type_is => @type_is) %></b></td>
					<% end %>
				</tr>
		<% end %>
		</table>
	<br><br>		
<%= will_paginate @posts, :class => 'pagination pagination-centered pagination-small', :style => 'vertical-align:middle;'%>

<% else %>
No Documents Found.
<% end %>

