<div class="row">
  <div class='span10 offset1'>


		<% if @type_is == 'Documents' %>
					<h3>Technical Reference Library</h3>
			
			<div class="navbar">
	              <div class="navbar-inner">
	                <form class="navbar-form pull-left">				
	                  <input id='search_criteria' type="text" class="span2">
	                  <button id='search_by_description' class="btn">SEARCH IN DESCRIPTION</button>
					<%= select_tag :category , options_for_select(@categories)  %>
					<%= select_tag :product , options_for_select(@products)  %>
	                </form>
	              </div>
			</div>
			
			<div id='documents_data'><%= render 'tech_docs' %></div>
											
			<% if current_user.roles.first.name == 'admin' %>
			<%= link_to 'Add Document', new_post_path(:type_is => 'Documents'), :class => 'btn btn-mini' %>
			<% end %>
										
		<% else %>
			<h3>Structural Waterproofing Glossary</h3>
			
			<div class="navbar">
	              <div class="navbar-inner">
	                <form class="navbar-form pull-left">				
	                  <input id='search_criteria' type="text" class="span2">
	                  <button id='search_in_glossary' class="btn">Search in Description</button>
	                </form>
	              </div>
			</div>
			
			<div id='glossary_data'><%= render 'glossary' %></div>
		<% end %>
 
	<% if current_user.roles.first.name == 'admin' %>
		<% if @type_is == 'Glossary' %>
		  <%= link_to 'Add Glossary Item', new_post_path(:type_is => 'Glossary'), :class => 'btn btn-mini' %>
		<% elsif @type_is == 'Documents' %>

		<% else %>
		  <%= link_to 'Add Glossary Item', new_post_path(:type_is => 'Glossary'), :class => 'btn btn-mini' %>
		  <%= link_to 'Add Document', new_post_path(:type_is => 'Documents'), :class => 'btn btn-mini' %>		
		<% end %>	
	<% end %>

  </div>
</div>
<br><br>




